<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vegan Ingredient Analyzer Webserver</title>
  </head>
  <style>
    img {
      width: 720px;
      height:auto;
    }
  </style>
  <body>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="image"/>
      <input type="submit" value="Submit Image"/>
    </form>

    {% if uploaded_image %}
    <h2>Uploaded Image</h2>
    <img src="{{ uploaded_image }}">
    <img src="{{ processed_image }}">
    {% endif %}

    {% if results %}
    <h2>Results</h2>
    <ul>
    {% for result in results %}
        <li>{{ result }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
